h1 {
    color: rgba(211, 20, 20, 0.904);
}
p{
    color: rgb(19, 201, 19);
}
li{
    list-style-type: ":) ";
}
li.special,
span.special {
    font-weight: bold;
    color: rgb(57, 204, 204);
}
/* Descendant Combinator */
li em {
    color: rgb(184, 122, 247)
}
/* Next-Sibling Combinator */
h1 + p{
    font-size: 150%;
}

a:link{
    color: pink;
}

a:visited{
    color: rgb(22, 24, 20);
}

a:hover{
    text-decoration: none;
}