html {
  font-family: sans-serif;
}

/* Your CSS below here */
div{
    width: 200px;
    padding: 50px 10px;
    text-align: center;
    margin: 10px auto;
    font-size: 1.125rem;  /* 18px / 16px = 1.125rem*/

    color: rgb(231, 231, 231);
    text-shadow: 2px 1px 4px black;
    border-radius: 15px;
    border: 1px solid rgb(156, 0, 0);
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1));
    background-color: rgb(230, 0, 0);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.5), inset -2px -2px 2px rgb(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.6);
}